<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Brutál Zöld 130</title>
</head>

<body>
    Brutál Zöld Túrakiírás A Brutál Zöld 130 egy teljesítménytúra mely 80%-ban a Pilis-Visegrádi hegység zöld túristaútjain halad
    Pilismaróttól Szentednréig – a hosszabb úton. 130 kőkemény kilométer, 4484 méter szintemelkedés, és mindössze 30 óra.
    Nincs szintidő növelés még rossz idő esetén sem, nincs vígaszdíj, nincs részteljesítés – ha rajthoz állsz ezen a távon
    vagy végigmész vagy feladod. Ha eldöntötted, hogy indulsz ezen a túrán, kattints a "Nevezés"-re, mert a távon idén csak
    50 fő jelentkezését tudjuk garanálni. Díjazás: A sikeres teljesítőknek jelvény és oklevél, valamint teljesítői póló jár.
    Minden sikeres teljesítő korai nevezési lehetőséget kap a jövő évi rendezvényre amelyre az ideinél kedvezményesebb összegért
    nevezhetnek majd. (Vagyis a hivatalos nevezési idő előtt pár nappal lesz lehetőségük nevezni) Az első 5 beérkező fejenként
    két darab meghívót kap a jövő évi rendezvényre. A meghívóval rendelkezők ingyen vehetnek részt a következő túrán és nem
    számítanak bele a létszámkorlátba. A szintidőn túl teljesítőknek, a túrát feladni kényszerülőknek nem jár díjazás! Nevezési
    díj: 7000 Ft Fél Brutál A Fél-Brutál 65 kilométer a Brutál Zölddel megegyező útvonalon Pomázig. 2356m szintemelkedés
    és csak 15 óra szintidő. Ha Esztergomnál elfáradsz a részteljesítésért megkapod a kitűzőt és az oklevelet. A Fél és Negyed
    Brutál távokon összesen 50 fő nevezését tudjuk idén elfodagni, ezért ha eldöntötted, hogy indulsz valamelyiken, kattins
    a "Nevezés"-re. Díjazás: A sikeres teljesítőknek kitűző és oklevél jár. Minden sikeres teljesítő korai nevezési lehetőséget
    kap a jövő évi rendezvényre, amelyre az ideinél kedvezményesebb összegért nevezhetnek majd. A szintidőn túl teljesítőknek,
    a túrát feladni kényszerülőknek csak oklevél jár – amennyiben azt a célban átveszik. Nevezési díj: 3000 Ft Negyed Brutál
    Mindössze 33 kilométer Esztergomig azoknak, akiknek nincs idejük a hosszabb távokhoz. Éppen ezért a szintidővel itt se
    bánunk bőkezűen. Elég gyors vagy ahhoz hogy 7 órán belül teljesítsd? A Fél és Negyed Brutál távokon összesen 50 fő nevezését
    tudjuk idén elfodagni, ezért ha eldöntötted, hogy indulsz valamelyiken, kattins a "Nevezés"-re. Díjazás: A sikeres teljesítőknek
    kitűző és oklevél jár. Minden sikeres teljesítő korai nevezési lehetőséget kap a jövő évi rendezvényre, amelyre az ideinél
    kedvezményesebb összegért nevezhetnek majd. A szintidőn túl teljesítőknek, a túrát feladni kényszerülőknek csak oklevél
    jár – amennyiben azt a célban átveszik. Nevezési díj: 3000 Ft Létszámkorlát Mivel idén először szervezzük a túrát, a
    rendezvény zavartalan lebonyolítása érdekében az egyes távokon létszámlimitet vezettünk be. Elképzelhető hogy ezt a limitet
    később megnöveljük, azonban jelenleg 100 fő indulását tudjuk biztosítani. A Fél és a Negyed Brutál túrán együttvéve összesen
    50 fő indulhat, míg a Brutál Zöld 130-on külön 50 fős limit áll rendelkezésre. Ha eldöntötted, hogy indulsz valamelyiken,
    kattints a nevezésre. Nevezés menete 1) Ha már rendelkezel regisztrációval és be vagy jelentkezve, a nevezési űrlap részben
    vagy egészben automatikusan kitöltődik. Ha még nem regisztráltál, nevezésed egyben regisztráció is lesz. Ha végeztél
    az adatok kitöltésével kattints a választott távnak megfelelő "Indulok a túrán" feliratra! (Regisztrációs és nevezési
    adataidat a későbbiekben még lesz lehetőséged módosítani, a táv módosítására azonban csak korlátozott lehetőségek vannak)
    2)Ha neveztél, akkor felkerszülsz a nevezési listára. Ha benne vagy az 50 fős létszámkeretben, akkor 48 órán belül, de
    maximum a nevezési határidőig, ki kell egyenlítened a nevezési díjat.(Státusz: nevezési díj befizetésére vár). A nevezési
    díj befizetése előtt, bármikor meggondolhatod magad. Kattints a profilodon a "Mégsem indulok" feliratú gombra. Egy megerősítő
    emailt küldünk, ahol visszamondhatod a nevezésedet. Ha nem férsz bele a keretbe, akkor várólistára kerülsz. (Státusz:
    várólistán) A várólistáról akkor tudsz előrébb kerülni, ha az előtted nevezők visszamondják a nevezésüket, vagy nem fizetik
    ki időben a nevezési díjukat. Ha bejutsz a limitbe, akkor 72 órán belül ki kell egyenlítened a nevezési díjadat. Ha nem
    fizeted ki időben a nevezési díjadat, a nevezésed automatikusan törlődik. Ekkor van lehetőséged újranevezni, viszont
    ilyenkor ismét a nevezési lista aljára fogsz kerülni. Ha már befizetted a nevezési díjadat, de mégsem tudsz részt venni
    a túrán lehetőséget biztosítunk, hogy nevezésedet eladd. A befizetett nevezési díjadat rendezvény szervezési okokból
    csak akkor tudjuk visszafizetni, ha valaki a helyedre lép. Kattints a profilodon a "Mégsem indulok" feliratú gombra.
    Egy megerősítő emailt küldünk, ahol visszamondhatod a nevezésedet. Ekkor lekerülsz a nevezési listáról (státusz: felfüggesztve),
    nevezésed azonban mindaddig érvényes marad, amíg egy új jelentkező be nem fizeti a nevezési díját. Amikor valaki befizeti
    a nevezési díjat, rendszerünk ellenőrzi, hogy az adott távon van-e olyan, aki visszamondta a nevezését. Amennyiben ez
    az eset fennáll, akkor a visszamondás ideje sorrendjében következő személynek visszatérítjük a nevezési díját, nevezése
    törlődik. Erről emailben is értesítünk.
</body>

</html>
